<?xml version="1.0" ?>
<robot name="three_pi_sensors" xmlns:xacro="https://www.ros.org/wiki/xacro">

    <!-- camera link -->
    <link name="camera_link">
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <box size="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>
    <joint name="camera_joint" type="fixed">
        <!-- <origin xyz="0.08 0.0 0.15" rpy="0.0 ${pi/2} 0.0" /> -->
        <!--<origin xyz="0.08 0.0 0.15" rpy="0.0 ${pi/4} 0.0" /> -->
        <origin xyz="0.08 0.0 0.15" rpy="0.0 ${pi/7} 0.0" />
        <parent link="chassis_link" />
        <child link="camera_link" />
    </joint>

    <!-- lidar link -->
    <link name="lidar_link">
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <box size="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>

    <joint name="lidar_joint" type="fixed">
        <origin xyz="0.0 0.0 0.09" rpy="0.0 0.0 0.0" />
        <parent link="chassis_link" />
        <child link="lidar_link" />
    </joint>

    <!-- imu link -->
    <link name="imu_link" />

    <joint name="imu_joint" type="fixed">
        <parent link="chassis_link" />
        <child link="imu_link" />
        <origin xyz="0.0 0 0.05" rpy="0 0 0" />
    </joint>
</robot>